@import "tailwindcss";

:root {
  /* Всегда черный фон */
  --background: #050505;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Применяем стили к html и body отдельно для чистоты */
html {
  background-color: #050505;
  color-scheme: dark; /* Подсказывает браузеру, что сайт темный */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* Правильный синтаксис CSS для минимальной высоты */
  min-height: 100vh; 
}

